<div class="mx-auto col-5 jumbotron new">
    <input [(ngModel)]="key" class="form-control" placeholder="Search by name" title="search Box">
</div>
<div class="mx-auto col-7">
    <table class="table table-bordered table-hover text-center ">
        <thead class="headcolor">
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </thead>
        <tbody class="jumbotron">
            <tr *ngFor="let i of data | searchfilter:key" (click)=onRowClick(i,openModal) title="click to open Modal" style="cursor: pointer;">
                <td>{{i.id}}</td>
                <td>{{i.first_name}}</td>
                <td>{{i.last_name}}</td>
                <td>{{i.email}}</td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #openModal>
    <div class="modal-header headcolor ">
        <h4>Raw data of Id :{{rowdata.id}}</h4>
        <button class="close pull-right" (click)="doModal.hide()" title="close Modal">X</button>
    </div>
    <div class="modal-body">
        <pre>{{rowdata|json}}</pre>
    </div>
    <div class="modal-footer">
        <button class="btn headcolor" (click)="doModal.hide()" title="close Modal">Close</button>
    </div>
</ng-template>
<!-- <app-matcomp></app-matcomp> -->